<% if params[:section].present? && params[:type].present? %>
  <ul class="nav nav-tabs nav-types">
    <li class="<%= type_active_class(params[:type], 'hot') %>">
      <%= link_to 'Hot', index_path(section: params[:section], type: 'hot') %>
    </li>

    <li class="<%= type_active_class(params[:type], 'fresh') %>">
      <%= link_to 'Fresh', index_path(section: params[:section], type: 'fresh') %>
    </li>
  </ul>
<% end %>

<%= react_component 'PostsWrapper', posts: @posts, section: params[:section], type: params[:type] %>
